<content class="all">
  <h1>TO DO LIST</h1>

  <section class="form">
    <input
      class="txt"
      type="text"
      [(ngModel)]="newItem"
      placeholder="Digite uma nova tarefa"
    />

    <div class="btns">
      <button (click)="addToList()">+</button>
      <button id="del" (click)="removeLast()">-</button>
    </div>
  </section>

  <section class="list">
    <ul>
      <li
        *ngFor="let item of items; let i = index"
        [ngClass]="{
          'texto-vermelho': statusCheckbox[i],
          'texto-preto': !statusCheckbox[i]
        }"
      >
        <input type="checkbox" (change)="changeClass(i)" />

        {{ item }}
      </li>
    </ul>
  </section>
</content>
