<header class="title">
  <h1>TO DO LIST</h1>
</header>

<section class="form">
  <input class="txt"
    type="text"
    [(ngModel)]="newItem"
    placeholder="Digite uma nova tarefa"
  />
  <button (click)="addToList()">+</button>
  <button (click)="removeLast()">-</button>
</section>

<section class="list">
  <ul>
    <li
      *ngFor="let item of items; let i = index"
      [ngClass]="{
        'texto-vermelho': statusCheckbox[i],
        'texto-preto': !statusCheckbox[i]
      }"
    >
      <input type="checkbox" (change)="mudarClasse(i)" />

      {{ item }}
    </li>
  </ul>
</section>
